<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:fragment="encabezado_pagina(title, remove)" th:remove="${remove}">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<title>[[${tituloPagina}]]</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/comunes.js}"></script>
</head>
<body>

	<div th:fragment="pie_pagina" class="text-center m-3">
		<p>Panel de Control para para Applicación Web ComprasYa -
			Copyright &copy; CompraYa</p>
	</div>

	<th th:fragment="enlace_columna(URLmodulo, nombreCampo, etiquetaColumna, removeTag)" th:remove="${removeTag}">
		<a class="text-white"
			th:href="@{${URLmodulo} + '/pagina/' + ${paginaActual} + '?campoSort=' + ${nombreCampo}  +'&direccionSort=' + ${campoSort != nombreCampo ? direccionSort : direccionSortInversa} + ${textoBusqueda != null ? '&textoBusqueda=' + textoBusqueda : ''}}">
			[[${etiquetaColumna}]] 
		</a> 
		<span th:if="${campoSort == nombreCampo}"
			th:class="${direccionSort == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
	</th>

	<a th:fragment="enlace_pagina(moduleURL, numeroPagina, etiqueta)"
		class="page-link"
		th:href="@{${moduleURL} + '/pagina/' + ${numeroPagina} + '?campoSort=' + ${campoSort} + '&direccionSort=' + ${direccionSort} + ${textoBusqueda != null ? '&textoBusqueda=' + textoBusqueda : ''}}">[[${etiqueta}]]
	</a>

	<div th:fragment="fotos_usuario" th:remove="tag">
		<span th:if="${usuario.fotos == null}"
			class="fas fa-portrait fa-3x icon-silver"></span> <img
			th:if="${usuario.fotos != null}"
			th:src="@{${usuario.trayectoriaImagenFoto}}" style="width: 50px" />
	</div>

	<div th:fragment="estado(activo, nombreEntidad, URLentidad)" th:remove="tag">
		<a th:if="${activo == true}" class="fas fa-check-circle fa-2x icon-green"
			th:href="@{${URLentidad} + '/activo/false'}"
			th:title="'Desactivar a este ' + ${nombreEntidad}"
			></a> 
			
		<a th:if="${activo == false}" class="fas fa-circle fa-2x icon-dark"
			th:href="@{${URLentidad} + '/activo/true'}"
			th:title="'Activar a este ' + ${nombreEntidad}"
			></a>
	</div>

	<div th:fragment="editar(nombreEntidad, URLedicion)" th:remove="tag">
		<a class="fas fa-edit fa-2x icon-green"
			th:href="@{${URLedicion}}"
			th:title="'Editar este(a) ' + ${nombreEntidad}"></a>
	</div>
	
	<div th:fragment="eliminar(nombreEntidad, idEntidad, URLeliminar, visible)" th:remove="tag">
		 <th:block th:if="${visible}">
		 <a class="fas fa-trash fa-2x icon-dark link-delete"
			th:href="@{${URLeliminar}}"
			th:idEntidad="${idEntidad}" 
			th:title="'Eliminar este(a) '+ ${nombreEntidad}"></a>
	</div>

	<div th:fragment="paginacion(moduleURL, nombreEntidad)" th:remove="tag">
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Se muestran [[${nombreEntidad}]] del #
				[[${inicioContador}]] al [[${finContador}]] de un total de
				[[${totalItems}]]</span>
		</div>

		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No se encontraron [[${nombreEntidad}]]</span>
		</div>

		<div th:if="${paginasTotales > 1}">
			<nav>
				<ul class="pagination justify-content-center flex-wrap">
					<li
						th:class="${paginaActual > 1 ? 'page-item' : 'page-item disabled'} ">
						<a
						th:replace="~{fragments :: enlace_pagina(${moduleURL}, 1, 'Inicio')}"></a>
					</li>
					<li
						th:class="${paginaActual > 1 ? 'page-item' : 'page-item disabled'} ">
						<a
						th:replace="~{fragments :: enlace_pagina(${moduleURL}, ${paginaActual - 1}, 'Anterior')}"></a>
					</li>
					<li
						th:class="${paginaActual != i ? 'page-item': 'page-item active'}"
						th:each="i: ${#numbers.sequence(1, paginasTotales)}"><a
						th:replace="~{fragments :: enlace_pagina(${moduleURL}, ${i}, ${i})}"></a>
					</li>
					<li
						th:class="${paginaActual < paginasTotales ? 'page-item' : 'page-item disabled'}">
						<a
						th:replace="~{fragments :: enlace_pagina(${moduleURL}, ${paginaActual + 1}, 'Siguiente')}"></a>
					</li>
					<li
						th:class="${paginaActual < paginasTotales ? 'page-item' : 'page-item disabled'}">
						<a
						th:replace="~{fragments :: enlace_pagina(${moduleURL}, ${paginasTotales}, 'Fin')}"></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	
	<div th:fragment="forma_busqueda_y_mensaje(moduleURL)">
		<form th:action="@{${moduleURL}}" class="form-inline m-3">
			<input type="hidden" name="campoSort" th:value="${campoSort}" /> <input
				type="hidden" name="direccionSort" th:value="${direccionSort}" />
			Texto para Búsqueda:&nbsp; <input type="search" name="textoBusqueda"
				th:value="${textoBusqueda}" class="form-control" required />
			&nbsp;&nbsp;
			<button type="submit" value="Buscar" class="btn btn-primary">
				<i class="fas fa-search"></i>
			</button>
			&nbsp;&nbsp;
			<button type="button" value="Limpiar" class="btn btn-secondary"
				onclick="limpiarTextoBusqueda()">
				<i class="fas fa-eraser"></i>
			</button>
		</form>
		<div th:if="${message != null}"	class="alert alert-success text-center">
			[[${message}]]
		</div>		
	</div>	

</body>
</html>