*.icon-white {color: white}
*.icon-silver {color: silver}
*.icon-green {color: green}
*.icon-dark {color: gray}

@media screen and (max-width:768px) {
	/* small screen */
	div.full-details { display: none; }
	div.less-details { display: block; }
}

@media screen and (min-width:768px) and (max-width: 1024px){
	/* medium screen */
	div.full-details { display: block; }
	div.less-details { display: none; }
<<<<<<< HEAD
	.hideable-column {display: none; }
=======
	.hideable-column {display: none;}
>>>>>>> 2af26580c2dc687ae252c082a306ab8c697db53b
}

@media screen and (min-width:1024px) {
	/* large screen */
<<<<<<< HEAD
	div.less-details { display: none; }
	.hideable-column { display: table-cell; }
=======
	div.less-details { display: block; }
	div.less-details { display: none; }
	.hideable-column {display: table-cell;}
>>>>>>> 2af26580c2dc687ae252c082a306ab8c697db53b
}