<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: encabezado_pagina(${tituloPagina})}" />
<body>
<div class="container-fluid">
	<div th:replace="~{navegacion :: menu}"></div>
	<div>
		<h2>Gestion de Marcas | [[${tituloPagina}]]</h2>	
	</div>
			
	<form th:action="@{/marcas/guardar}" method="post" style="max-width: 500px; margin: 0 auto"
		enctype="multipart/form-data"
		th:object="${marca}">
		<input type="hidden" th:field="*{id}" />
	<div class="border border-secondary rounded p-3">
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Nombre Marca:</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" th:field="*{nombre}" required minlength="3" maxlength="45"  />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Logo de Marca:</label>
			<div class="col-sm-8">
				<input type="hidden" th:field="*{logo}" />
				<input type="file" id="archivoImagen" name="archivoImagen" accept="image/png, image/jpeg"
					required
					class="mb-2" />
				
				<div class="mt-2">
					<img id="thumbnail" alt="Previsualización de imagen" th:src="@{${marca.trayectoriaImagenLogo}}"
						class="img-fluid" />
				</div>
			</div>
		</div>		
		
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Seleccione una o mas categorias:</label>
			<div class="col-sm-8">
				<select class="form-control" th:field="*{categorias}" multiple required
						style="resize: vertical; height: 200px">
					<th:block th:each="cat : ${listaCategorias}">
					<option th:value="${cat.id}">[[${cat.nombre}]]</option>
					</th:block>
					
				</select>
			</div>
		</div>		
		
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Categorías seleccionadas:</label>
			<div class="col-sm-8">
				<div id="categoriasEscogidas">
				
				</div>
			</div>
		</div>
						
		<div class="text-center">
			<input type="submit" value="Guardar" class="btn btn-primary m-3" />
			<input type="button" value="Cancelar" class="btn btn-secondary" id="botonCancelar" />
		</div>
	</div>
	</form>
	
	<div th:replace="~{fragmentos_modales :: dialogo_modal}"></div>
	
	<div th:replace="~{fragments :: pie_pagina}"></div>
	
</div>
<script type="text/javascript">
	moduleURL = "[[@{/marcas}]]";
	
	$(document).ready(function() {
		dropdownCategorias = $("#categorias");
		divCategoriasEscogidas = $("#categoriasEscogidas");
		
		dropdownCategorias.change(function() {
			divCategoriasEscogidas.empty();
			mostrarCategoriasEscogidas();
		});
	});
	
	function mostrarCategoriasEscogidas() {
		dropdownCategorias.children("option:selected").each(function() {
			categoriaSeleccionada = $(this);
			idCat = categoriaSeleccionada.val();
			nombreCategoria = categoriaSeleccionada.text().replace(/-/g, "");
			
			divCategoriasEscogidas.append("<span class='badge badge-secondary m-1'>" + nombreCategoria + "</span>")
		});
	}
</script>
<script th:src="@{/js/comunes_forma.js}"></script>
</body>
</html>
