<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments :: encabezado_pagina('Error - Administración Web Compras Ya')}" />
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container-fluid">
	<div th:replace="~{navegacion :: menu}"></div>
	<div class="m-3">
		<h2>Lo siento, usted no tiene permisos para acceder a esta página.</h2>
	</div>

	<div th:replace="~{fragments :: pie_pagina}"></div>
	
</div>
</body>
</html>