<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="contenido" th:remove="tag">
	<div class="form-group row">
		La siguiente información es importante para calcular el costo de envío del producto.</br>
		Las dimensiones (Largo x Ancho x Alto) corresponden a las de la caja que se utilizará para empacar el producto - <b>no son las dimensiones del producto</b>.
	</div>
	
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Largo (cm):</label>
		<div class="col-sm-10">
			<input type="number" step="0.1" class="form-control" th:field="*{largo}" />
		</div>
	</div>
	
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Ancho (cm):</label>
		<div class="col-sm-10">
			<input type="number" step="0.1" class="form-control" th:field="*{ancho}" />
		</div>
	</div>
	
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Alto (cm):</label>
		<div class="col-sm-10">
			<input type="number" step="0.1" class="form-control" th:field="*{alto}" />
		</div>
	</div>	
	
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Peso (kg):</label>
		<div class="col-sm-10">
			<input type="number" step="0.1" class="form-control" th:field="*{peso}" />
		</div>
	</div>		
</div>
</body>
</html>