<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments :: encabezado_pagina('Usuarios - Applicación Web Compras Ya')}" />
<body>
<div class="container-fluid">
	<div th:replace="~{navegacion :: menu}"></div>
	<div>
		<h2>Gestión de Usuarios</h2>
			<a th:href="@{/usuarios/nuevo}"
				class="fas fa-user-plus fa-2x icon-dark mr-2"></a>
			<a	th:href="@{/usuarios/exportar/csv}"
				class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
			<a	th:href="@{/usuarios/exportar/excel}"
				class="fas fa-file-excel fa-2x icon-dark mr-2"></a>
			<a	th:href="@{/usuarios/exportar/pdf}"
				class="fas fa-file-pdf fa-2x icon-dark"></a>
	</div>
	
	<div th:replace="~{fragments :: forma_busqueda_y_mensaje('/usuarios/pagina/1')}"></div>
		
	<div class="full-details">
		<table class="table table-bordered table-stripped table-hover table-responsive-xl ">
			<thead class="thead-dark">
				<tr>
					<th class="hideable-column">
						<th	th:replace="~{fragments :: enlace_columna('/usuarios', 'id', 'Id Usuario', 'tag')}">
					</th>
					<th>Fotos</th>
					<th class="hideable-column">
						<th th:replace="~{fragments :: enlace_columna('/usuarios', 'email', 'E-mail', 'tag')}">
					</th>
					<th
						th:replace="~{fragments :: enlace_columna('/usuarios', 'primerNombre', 'Primer Nombre', 'none')}" />
					<th
						th:replace="~{fragments :: enlace_columna('/usuarios', 'primerApellido', 'Primer Apellido', 'none')}" />
					<th>Roles</th>
					<th
						th:replace="~{fragments :: enlace_columna('/usuarios', 'activo', '¿Activo?', 'none')}" />
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="usuario : ${listaUsuarios}">
					<td class="hideable-column">[[${usuario.id}]]</td>
					<td>
						<div th:replace="~{fragments :: fotos_usuario}"></div>
					</td>
					<td class="hideable-column">[[${usuario.email}]]</td>
					<td>[[${usuario.primerNombre}]]</td>
					<td>[[${usuario.primerApellido}]]</td>
					<td>[[${usuario.roles}]]</td>
					<td>
						<div th:replace="~{fragments :: estado(${usuario.activo}, 'usuario', '/usuarios/' + ${usuario.id})}"></div>
					</td>
					<td>
						<div th:replace="~{fragments :: editar('usuario', '/usuarios/editar/' + ${usuario.id})}"></div>
						&nbsp;&nbsp;
						<div th:replace="~{fragments :: eliminar('usuario', ${usuario.id}, '/usuarios/eliminar/' + ${usuario.id}, true)}"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
		
	<div class="less-details">
		<div th:each="usuario : ${listaUsuarios}" class="row m-2">
			<div class="col-3">
				<div th:replace="~{fragments :: fotos_usuario}"></div>
			</div>
			<div class="col-9">
				<div>[[${usuario.getNombreCompleto()}]]</div>
				<div>[[${usuario.getRoles()}]]</div>
				<div class="mt-2">
					<div th:replace="~{fragments :: estado(${usuario.activo}, 'usuario', '/usuarios/' + ${usuario.id})}"></div>
					&nbsp;
					<div th:replace="~{fragments :: editar('usuario', '/usuarios/editar/' + ${usuario.id})}"></div>
					&nbsp;
					<div th:replace="~{fragments :: eliminar('usuario', ${usuario.id}, '/usuarios/eliminar/' + ${usuario.id}, true)}"></div>					
				</div>
			</div>
			<div>&nbsp;</div>
		</div>	
	</div>

</div>

<div th:replace="~{fragments :: paginacion('/usuarios', 'usuarios')}"></div>

<div th:replace="~{fragmentos_modales :: confirmar_modal}"></div>

<div th:replace="~{fragments :: pie_pagina}"></div>

<script th:src="@{/js/comunes_lista.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/usuarios}]]";
	
	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			mostrarConfirmarEliminacionModal($(this), 'usuario');
		});
	});
</script>

</body>
</html>