<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments :: encabezado_pagina('Categorias - Applicación Web Compras Ya')}" />
<body>
<div class="container-fluid">
	<div th:replace="~{navegacion :: menu}"></div>
	<div>
		<h2>Gestión de Categorias</h2>
			<a th:href="@{/categorias/nueva}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
			<a th:href="@{/categorias/exportar/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
	</div>
	
	<div th:replace="~{fragments :: forma_busqueda_y_mensaje('/categorias/pagina/1')}"></div>
		
	<div class="full-details">
		<table class="table table-bordered table-stripped table-hover table-responsive-xl ">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Imagen Categoría</th>						
					<th th:replace="~{fragments :: enlace_columna('/categorias', 'nombre', 'Nombre Categoria', 'none')}"></th>
					<th class="hideable-column">Alias</th>
					<th>¿Activa?</th>
					<th></th>
 				</tr>
			</thead>
			<tbody>
				<tr th:each="cat : ${listaCategorias}">
					<td>[[${cat.id}]]</td>
					<td>
						<img th:src="@{${cat.trayectoriaImagen}}" style="width: 100px" class="img-fluid" />
					</td>
					<td>[[${cat.nombre}]]</td>
					<td class="hideable-column">[[${cat.alias}]]</td>					
					<td>
						<div th:replace="~{fragments :: estado(${cat.activa}, 'categoria', '/categorias/' + ${cat.id})}"></div>
					</td>
 					
					<td>
						<div th:replace="~{fragments :: editar('categoria', '/categorias/editar/' + ${cat.id})}"></div>
						&nbsp;
						<div th:replace="~{fragments :: eliminar('categoria', ${cat.id}, '/categorias/eliminar/' + ${cat.id}, ${!cat.tieneHijos})}"></div>
					</td>			
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="cat : ${listaCategorias}" class="row m-1">
			<div class="col-4">
				<img th:src="@{${cat.trayectoriaImagen}}" style="width: 100px" class="img-fluid"></img>
			</div>
			<div class="col-8">
				<div>[[${cat.nombre}]]</div>
				<div class="mt-2">
					<div th:replace="~{fragments :: estado(${cat.activa}, 'categoria', '/categorias/' + ${cat.id})}"></div>
					&nbsp;
					<div th:replace="~{fragments :: editar('categoria', '/categorias/editar/' + ${cat.id})}"></div>
					&nbsp;
					<div th:replace="~{fragments :: eliminar('categoria', ${cat.id}, '/categorias/eliminar/' + ${cat.id}, ${!cat.tieneHijos})}"></div>			
				</div>
			</div>
			<div>&nbsp;</div>
		</div>	
	</div>	
	
	<div th:if="${textoBusqueda != null}" class="text-center">
		<span>El resultado de la búsqueda no muestra las categorías en forma jerárquica</span>
		<div th:replace="~{fragments :: paginacion('/categorias', 'categorias')}"></div>
	</div>
	<th:block th:unless="${textoBusqueda != null}">
	<div th:replace="~{fragments :: paginacion('/categorias', 'categorias de alto nivel')}"></div>
	
	<div th:replace="~{fragmentos_modales :: confirmar_modal}"></div>

	<div th:replace="~{fragments :: pie_pagina}"></div>
</div>
<script th:src="@{/js/comunes_lista.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/categorias}]]";
	
	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			mostrarConfirmarEliminacionModal($(this), 'categoria');
		});
	});
</script>

</body>
</html>